.socials {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 30px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  color: var(--primary-bg-color);
  background-color: var(--yellow-color);
  border-radius: 50%;
  transform: scale(1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }

  &:hover {
    transform: scale(calc(32 / 34));
  }

  &:focus {
    transform: scale(calc(38 / 34));
  }
}

.socials__icon {
  fill: currentColor;
}
