:root {
  // general colors
  --yellow-color: #f8d24e;

  // background colors
  --primary-bg-color: #84a178;

  // text colors
  --primary-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --addresses-color: #d6936d;

  // section colors
  --ice-cream: #aec6a5;
  --ice-coffee: #efd478;
  --milkshakes: #d6936d;
  --form-color: #9cbe8f;

  // pseudo classes colors
  --hover-color: #0a8817;
  --disabled-color: #ababab;
}
