:root {
// general colors
    --yellow-color: #F8D24E;

// background colors
    --primary-bg-color: #84A178;

// text colors
    --primary-text-color: #FCFCFC;
    --secondary-text-color: #131313;
    --addresses-color: #D6936D;

// section colors
    --ice-cream:#AEC6A5;
    --ice-coffee: #EFD478;
    --milkshakes: #D6936D;

// pseudo classes colors
    --hover-color:#0A8817;
    --disabled-color:#ABABAB;
}

