.contacts {
  &__list {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: 768px) {
      font-size: 14px;

      gap: 16px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      gap: 32px;
    }
  }

  &__card {
    width: 100%;
    padding: 40px 32px;
    background-color: var(--primary-text-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (min-width: 768px) {
      padding: 40px 24px;
      flex-basis: calc((100% - 32px) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 64px) / 3);
    }

    &-categories {
      display: inline-block;
      min-width: 80px;
      padding: 0px 24px;

      font-weight: inherit;
      text-transform: uppercase;

      border-radius: 4px;
      background-color: var(--yellow-color);

      @media screen and (min-width: 768px) {
        font-size: 16px;
        padding: 0 12px;
        min-width: 73px;
      }
    }
  }

  &__separate {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 24px;
    padding-top: 24px;

    @media screen and (min-width: 768px) {
      padding-bottom: 32px;
      padding-top: 32px;
    }

    &-map {
      padding-bottom: 24px;
      padding-top: 20px;

      @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 26px;
      }

      @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }

    &-support {
      padding-top: 24px;
      line-height: 1.5;

      @media screen and (min-width: 768px) {
        padding-top: 32px;
      }
    }
  }
}

.address {
  font-style: normal;

  &__link {
    display: block;
    transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__city {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
  }

  &__map {
    display: block;
    color: var(--addresses-color);
    transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.work-time {
  &__list {
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
  }

  &__days {
    display: block;
  }

  &__hours {
    display: block;
    color: var(--disabled-color);
  }
}

.btn-list {
  padding-top: 32px;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.contacts__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 34px;
  border: 2px solid transparent;
  border-radius: 10px;
  min-width: 196px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  background-color: var(--yellow-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--hover-color);
  }

  &:focus {
    background-color: var(--hover-color);
    color: var(--primary-text-color);
  }

  &:disabled {
    background-color: var(--disabled-color);
    color: var(--secondary-text-color);
  }

  &-icon {
    stroke: currentColor;
  }

  &-franchise {
    background-color: transparent;
    border: 2px solid var(--yellow-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border: 2px solid var(--hover-color);
      background-color: transparent;
    }

    &:focus {
      border: 2px solid var(--hover-color);
      background-color: transparent;
      color: var(--primary-text-color);
    }

    &:disabled {
      background-color: transparent;
      border: 2px solid var(--disabled-color);
    }
  }
}
