.about {
    background-color: var(--primary-bg-color);
}


.about__title {

font-family: 'Seymour One';
font-style: normal;

text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
@include font-pars(400, 30px, 38px);
}