// Franchise

// forms div
.franchise-modal__forms {
margin-bottom: 10%;
padding-left: 10%;
padding-right: 10%;
}
 
// form
.franchise-modal__form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
width: 100%;
}

// label
.franchise-modal__label {
display: none;
}

// input
.franchise-modal__input {
background: rgba(248, 210, 78, 0.1);
border: 1px solid #84A178;
border-radius: 10px;
resize: none;
width: 100%;
&::placeholder {
padding-left: 12px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.4;
color: #131313;
}}

// submit padding
.franchise-modal_button--div {
padding-bottom: 10%;
display: flex;
justify-content: center;
}
  
// submit button
.franchise-modal_button {
width: 134px;
height: 42px;
background: #F8D24E;
border: 0;
border-radius: 10px;
}