// Read-more
// Modal
.modal__div {
    position: relative;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    width: 280px;
    @media  (min-width: 768px) {
    width: 568px;  
    left: 50%;
    transform: translateX(-50%);
    }
    }
    
    // button
    .modal-button {
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    margin: 0;
    position: absolute;
    right: 2%;
    border: 0;
    background-color: #FCFCFC;
    fill: #131313;
    }
    
    
    // h2 text
    .modal__h2{
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #131313;
    margin-bottom: 20px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    }
    
    // video
    .read-more__video {
    display: block;
    left: 50%;
    transform:translateX(-50%);
    margin-bottom: 20px;
    width: 80%;
    height: 200px;
    background: black;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    fill: #FCFCFC;
    
    &.ready .read-more--play_button  {
    fill: transparent;
    }
    }
    
    // play button
    .read-more--play_button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    }
    
    // iframe
    .read-more__iframe {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    }
    
    // text
    .modal__p {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
    padding-bottom: 28px;
    padding-left: 10%;
    padding-right: 10%;
    }