<section class="about" id="how">
  <div class="container about__container">
    <p class="about__subtitle">t<span class="typed"></span></p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__group">
      <div class="about__img-wrap" data-aos="zoom-in">
        <picture class="about__img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/about/about_cow_des_@1x_490.webp 1x,
              ./images/about/about_cow_des_@2x_980.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about/about_cow_tab_@1x_335.webp 1x,
              ./images/about/about_cow_tab_@2x_670.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/about/about_cow_mob_@1x_278.webp 1x,
              ./images/about/about_cow_mob_@2x_556.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./images/about/about_cow_mob_@1x_278.png"
            alt="cow picture"
          />
        </picture>
      </div>
      <div class="about__story" data-aos="zoom-in">
        <ul class="about__story-list">
          <li class="about__story-item about__story-item--big-text">
            <p>
              Ice is a place where you will become not only a little happier,
              but also healthier. Health is the main value for us, and we follow
              it when creating our handmade desserts.
            </p>
          </li>
          <li class="about__story-item">
            <p>
              We use traditional recipes and 100% natural ingredients. Our
              products are so natural that they can be given to children from
              the age of three years. Sweets lovers can expect 55 types of ice
              cream, 15 types of coffee and 23 milkshakes.
            </p>
          </li>
          <li class="about__story-item about__story-item--hidden">
            <p>This is enough to choose ice cream and coffee for any mood!</p>
          </li>
        </ul>
        <button class="about__btn js-open-modal" type="button" data-modal="3">
          Read more
          <svg class="about__btn-icon" width="12px" height="12px">
            <use href="./images/sprite.svg#icon-arrow-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
