<section class="about">
  <div class="container">
    <p class="about__subtitle">t<span class="typed"></span></p>
    <h2 class="about__title" name="about-title">how it’s made?</h2>
    <div>
      <picture>
        <img
          src="./images/about/about_yellow_circle_mob_@1x_278.png"
          alt="yellow circle picture"
        />
        <img src="./images/about/about_cow_mob_@1x_278.png" alt="cow picture" />
      </picture>
    </div>
    <div>
      <ul class="about__story-list">
        <li class="about__story-item">
          <p>
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </p>
        </li>
        <li class="about__story-item">
          <p>
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </p>
        </li>
        <li class="about__story-item">
          <button class="about__btn" type="button">
            <span>Read more</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
