<section class="container section_advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <ul class="list list_advantages">
    <li class="advantages_item">
      <p class="advantages_number advantages_cow">721</p>
      <p class="advantages_desc">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages_item">
      <p class="advantages_number advantages_weight">16kg</p>
      <p class="advantages_desc">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages_item">
      <p class="advantages_number advantages_icecream">84</p>
      <p class="advantages_desc">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
