<section class="section__advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="list list__advantages">
      <li class="advantages__item scale-in-center">
        <p class="advantages__number advantages__cow">721</p>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item scale-in-center">
        <p class="advantages__number advantages__weight">16kg</p>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item scale-in-center">
        <p class="advantages__number advantages__icecream">84</p>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
