<section class="contacts" id="contact">
  <div class="contacts__container">
    <div class="container">
      <h2 class="visually-hidden">Our contacts</h2>
      <ul class="contacts__list" data-aos="zoom-in-up">
        <!-- card 1 -->
        <li class="contacts__card card">
          <p class="contacts__card-categories">Cafe</p>
          <div class="contacts__separate-map">
            <address class="address">
              <p class="address__city">Chicago</p>
              <a
                class="address__map"
                href="https://goo.gl/maps/sk3vsmZgEevvb6J66"
                target="_blank"
                rel="noopener noreferrer"
              >
                10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
              </a>
            </address>
          </div>
          <div class="contacts__separate">
            <ul class="work-time">
              <li class="work-time__list">
                <p class="work-time__days">Monday - Friday</p>
                <p class="work-time__hours">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="work-time__days">Saturday - Sunday</p>
                <p class="work-time__hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>
          <div class="contacts__separate-support">
            <address class="address">
              <ul>
                <li>
                  <a class="address__link" href="tel:+610383766284"
                    >+61(0) 383 766 284
                  </a>
                </li>
                <li>
                  <a
                    class="address__link"
                    href="mailto:noreply@envato.com"
                    lang="en"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </address>
          </div>
        </li>

        <!-- card 2 -->
        <li class="contacts__card">
          <p class="contacts__card-categories">Food truck</p>
          <div class="contacts__separate-map">
            <address class="address">
              <p class="address__city">Los Angeles</p>
              <a
                class="address__map"
                href="https://goo.gl/maps/3URToBNUM7RHXrHV7"
                target="_blank"
                rel="noopener noreferrer"
              >
                1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
              </a>
            </address>
          </div>
          <div class="contacts__separate">
            <ul class="work-time">
              <li class="work-time__list">
                <p class="work-time__days">Monday - Friday</p>
                <p class="work-time__hours">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="work-time__days">Saturday - Sunday</p>
                <p class="work-time__hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>
          <div class="contacts__separate-support">
            <address class="address">
              <ul>
                <li>
                  <a class="address__link" href="tel:+610383766284"
                    >+61(0) 383 766 284
                  </a>
                </li>
                <li>
                  <a
                    class="address__link"
                    href="mailto:noreply@envato.com"
                    lang="en"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </address>
          </div>
        </li>

        <!-- card 3 -->
        <li class="contacts__card">
          <p class="contacts__card-categories">Cafe</p>
          <div class="contacts__separate-map">
            <address class="address">
              <p class="address__city">New York</p>
              <a
                class="address__map"
                href="https://goo.gl/maps/FDYnrTvBQnwGb2L7A"
                target="_blank"
                rel="noopener noreferrer"
              >
                726 Sterling Pl, Brooklyn, NY 11222, USA
              </a>
            </address>
          </div>
          <div class="contacts__separate">
            <ul class="work-time">
              <li class="work-time__list">
                <p class="work-time__days">Monday - Friday</p>
                <p class="work-time__hours">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="work-time__days">Saturday - Sunday</p>
                <p class="work-time__hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>
          <div class="contacts__separate-support">
            <address class="address">
              <ul>
                <li>
                  <a class="address__link" href="tel:+610383766284"
                    >+61(0) 383 766 284
                  </a>
                </li>
                <li>
                  <a
                    class="address__link"
                    href="mailto:noreply@envato.com"
                    lang="en"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </address>
          </div>
        </li>
      </ul>
    <!-- button -->
    <div class="btn-list">
      <button class="contacts__button js-open-modal"
        type="button"
        data-modal="4"" type="button">
        Our Locations
        <svg class="contacts__button-icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-arrow-btn"></use>
        </svg>
      </button>
      <button
        class="contacts__button-franchise contacts__button js-open-modal"
        type="button"
        data-modal="5"
      >
        Franchise
        <svg class="contacts__button-icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-arrow-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
