<section class="customers">
  <div class="container customers__container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="slider">
      <div class="slider__item">
        <ul class="slider__wrap">
          <li class="img-wrap">
            <img
              class="slider__img"
              srcset="
                ./images/customer-reviews/img1@1x.png 1x,
                ./images/customer-reviews/img1@2x.png 2x
              "
              src="./images/customer-reviews/img1@1x.png"
              alt="Customer"
            />
          </li>
          <li class="slider__content">
            <p class="slider__descr">
              I love eating popsicles on a hot day. Yours is always delicious. I
              recommend your cafe to everyone I know.
            </p>
          </li>
          <li class="slider__person">
            <p class="slider__customer">Emily, Los Angeles</p>
          </li>
        </ul>
      </div>
      <div class="slider__item">
        <ul class="slider__wrap"
          <li class="img-wrap">
            <img
              class="slider__img"
              srcset="
                ./images/customer-reviews/img2@1x.png 1x,
                ./images/customer-reviews/img2@2x.png 2x
              "
              src="./images/customer-reviews/img2@1x.png"
              alt="Customer"
            />
          </li>
          <li class="slider__content">
            <p class="slider__descr">
              I love eating popsicles on a hot day. Yours is always delicious. I
              recommend your cafe to everyone I know.
            </p>
          </li>
          <li class="slider__person">
            <p class="slider__customer">Diana, Chicago</p>
          </li>
        </ul>
      </div>
      <div class="slider__item">
        <ul class="slider__wrap">
          <li class="img-wrap">
            <img
              class="slider__img"
              srcset="
                ./images/customer-reviews/img3@1x.png 1x,
                ./images/customer-reviews/img3@2x.png 2x
              "
              src="./images/customer-reviews/img3@1x.png"
              alt="Customer"
            />
          </li>
          <li class="slider__content">
            <p class="slider__descr">
              I love eating popsicles on a hot day. Yours is always delicious. I
              recommend your cafe to everyone I know.
            </p>
          </li>
          <li class="slider__person">
            <p class="slider__customer">Sam, Los Angeles</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
