<footer class="footer">
  <div class="footer__container container">
    <div class="footer__main">
      <div class="footer__titles" data-aos="zoom-in">
        <p class="footer__uptitle">homemade ice cream made</p>
        <p class="footer__title">with passion</p>
      </div>
      <div class="footer__contacts">
        <ul class="socials footer__socials">
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://github.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Github"
            >
              <svg class="socials__icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://telegram.org"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
            >
              <svg class="socials__icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://facebook.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <svg class="socials__icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__phone">
          <span class="footer__phone-label">Feel free to contact</span>
          <a class="footer__phone-link" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <p class="footer__copyright-label">
        &copy; 2022 - IceCream. All&nbsp;Rights&nbsp;Reserved.
      </p>
    </div>
  </div>

  <div class="chevronup__container">
    <a class="link chevronup__link" href="#top"
      ><i class="fas fa-chevron-up" aria-hidden="true"></i
    ></a>
  </div>
  <script
    src="https://kit.fontawesome.com/11bcb7faa9.js"
    crossorigin="anonymous"
  ></script>
</footer>
