<header class="page_header">
  <div class="container header_container">
    <a class="logo" href="./index.html">
      <svg class="logo" width="40" height="37">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header_nav">
      <ul class="nav list">
        <li class="nav_item"><a href="" class="link">Home</a></li>
        <li class="nav_item"><a href="" class="link">how it's made?</a></li>
        <li class="nav_item"><a href="" class="link">Our products</a></li>
        <li class="nav_item"><a href="" class="link">Contact</a></li>
      </ul>
    </nav>
    <div class="modal_group">
      <button
        class="menu_btn js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="header__icon" width="32" height="32">
          <use href="./images/sprite.svg#icon-mobile-menu"></use>
        </svg>
      </button>
      <button class="buy_btn js-open-modal" type="button" data-modal="1">
        Buy now
        <svg class="buy_btn_icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-buy"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
