<section class="hero">
  <div class="container hero__container">
    <div class="top-hero">
      <div class="hero-group">
        <h1 class="hero_title">ice cream made with passion</h1>
        <ul class="bnt-group">
          <li class="list">
            <button class="poducts-btn" type="button">
              <a class="link link-not" href="">Products</a>
            </button>
          </li>
          <li class="list">
            <button class="how-btn" type="button">
              <a class="link link-not" href="">How it’s made?</a>
            </button>
          </li>
        </ul>
      </div>

      <div class="chain-of-stores">
        <ul class="list">
          <li class="amount">16</li>
          <li class="text">cafes</li>
        </ul>
        <ul class="list">
          <li class="amount">23</li>
          <li class="text">food trucks</li>
        </ul>
      </div>
    </div>
    <div class="down-hero">
      <p class="under-title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>

    <div class="hero__image">
      <img
        class="hero__img"
        srcset="
          ./images/hero/ice-cream_sm-@1x.png 170w,
          ./images/hero/ice-cream_sm-@2x.png 340w,
          ./images/hero/ice-cream_md-@1x.png 270w,
          ./images/hero/ice-cream_md-@2x.png 540w,
          ./images/hero/ice-cream_lg-@1x.png 484w,
          ./images/hero/ice-cream_lg-@2x.png 968w
        "
        sizes="(min-width: 1200px) 484px, (min-width: 768px) 270px, (min-width: 320px) 170px, 100vw"
        src="./images/hero/ice-cream_sm-@1x.png"
        alt="Ice Cream"
      />
    </div>
  </div>
</section>
