<section class="hero">
        <div class="container hero__container">
          <div class="top-hero">
            <div class="hero-group">
              <h1 class="hero_title">ice cream made with passion</h1>
              <ul class="bnt-group">
                <li class="list">
                  <button class="poducts-btn" type="button">
                    <a class="link link-not" href="">Products</a>
                  </button>
                </li>
                <li class="list">
                  <button class="how-btn" type="button">
                    <a class="link link-not" href="">How it’s made?</a>
                  </button>
                </li>
              </ul>
            </div>
          
            <div class="chain-of-stores">
              <ul class="list">
                <li class="amount">16</li>
                <li class="text">cafes</li>
              </ul>
              <ul class="list">
                <li class="amount">23</li>
                <li class="text">food trucks</li>
              </ul>
            </div>
          </div>
          <div class="down-hero">
            <!-- <img class="many-ice-cream" src="./images/ice_cream/many-ice-cream_md-@1x.png" alt="many
            ice-cream" width: 152px; height: 152px; /> -->
            <p class="under-title"
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et</p
            >
            <!-- <svg class="under-title-icon" width="40" height="12">
              <use href="./images/sprite.svg#icon-buy"></use>
            </svg> -->
          </div>
          <!-- <div class="group-img">
            <img
              class="ice-cream"
              srcset="
                ./images/ice_cream/2v1_sm-@1x-320.png   320w,
                ./images/ice_cream/2v1_sm-@2x-640.png   640w,
                ./images/ice_cream/2v1_md-@1x-768.png   768w,
                ./images/ice_cream/2v1_md-@2x-1535.png 1535w,
                ./images/ice_cream/2v1_lg-@1x-1200.png 1200w,
                ./images/ice_cream/2v1_lg-@2x-2400.png 2400w
              "
              sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
              src="./images/ice_cream/2v1_sm-@1x-320.png"
              alt="ice-cream"
            />
            <img class="many-ice-cream" src="./images/ice_cream/many-ice-cream_md-@1x.png" alt="many
            ice-cream" width: 152px; height: 152px; />
          </div>
        </div> -->
      </section>