<section class="container" id="location"
    <!-- Our location modal -->
    <div class="modal__div visually-hidden" data-modal>
        <!-- Button close -->
        <button type="button" class="modal-button" data-modal-close>
            <!-- Svg -->
        <svg width="9px" height="9px" class="read-more__svg">
            <use href="./images/sprite.svg#crest"></use>
        </svg>
        </button>
    <!-- h2 -->
    <h2 class="modal__h2">Our locations</h2>
    <div class="location-modal__div">
    </div>
    <!-- button map -->
        <div class="location-modal_button--div">
        <button type="button" class="location-modal_button">
        <a href="https://goo.gl/maps/wX2wnvxCFRmbbwdP6">Open map</a>
    </button>
        </div>
    </div> 
</section>