<div class="modal__div modal" data-modal="4">
  <!-- Button close -->
  <button class="buy-now__btn js-modal-close" type="button">
    <svg class="buy-now__btn-icon">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <!-- h2 -->
  <h2 class="modal__h3 location__title">Our locations</h2>
  <div class="location__wrap">
    <div class="location-modal__div"></div>
    <!-- button map -->

    <button type="button" class="location-modal_button">
      <a href="https://goo.gl/maps/wX2wnvxCFRmbbwdP6">Open map</a>
    </button>
  </div>
</div>

<div class="backdrop js-overlay-modal"></div>
