<div class="menu-container js-menu-container" id="mobile-menu">
  <a class="logo" href="./index.html">
    <svg class="logo__menu" width="40" height="37">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
  </a>
  <button class="menu-toggle js-close-menu">
    <svg width="32" height="32">
      <use href="./images/sprite.svg#icon-close-btn"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-nav">
      <a class="mobile-link link" href="./index.html">Home</a>
    </li>
    <li class="mobile-nav">
      <a class="mobile-link link js-close-menu" href="#how">How it’s made?</a>
    </li>
    <li class="mobile-nav">
      <a class="mobile-link link" href="#products">Our products</a>
    </li>
    <li class="mobile-nav">
      <a class="mobile-link link" href="#contact">Contact</a>
    </li>
  </ul>
  <button class="buy-btn mob-btn js-open-modal" type="button" data-modal="1">
    Buy now
    <svg class="buy-btn__icon" width="12" height="12">
      <use href="./images/sprite.svg#icon-buy"></use>
    </svg>
  </button>
</div>
