<section class="products section" id="products">
  <div class="container">
    <p class="products__upper-title">1<span class="typed-2"></span></p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--ice-cream" data-aos="flip-up">
        <h3 class="products__under-title products__under-title--cream">
          ice cream
        </h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          class="products__btn js-open-modal"
          type="button"
          data-modal="2"
        >
          <svg class="products__icon" width="40" height="40">
            <use
              class="products__icon--arrow"
              href="./images/sprite.svg#icon-arrow"
            ></use>
            <use
              class="products__icon--hover"
              href="./images/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="products__icon--focus"
              href="./images/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>
      <li
        class="products__item products__item--ice-coffee"
        data-aos="flip-up"
        data-ao
      >
        <h3 class="products__under-title products__under-title--coffee">
          ice coffee
        </h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          class="products__btn js-open-modal"
          type="button"
          data-modal="2"
        >
          <svg class="products__icon" width="40" height="40">
            <use
              class="products__icon--arrow"
              href="./images/sprite.svg#icon-arrow"
            ></use>
            <use
              class="products__icon--hover"
              href="./images/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="products__icon--focus"
              href="./images/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--milkshakes" data-aos="flip-up">
        <h3 class="products__under-title products__under-title--milkshakes">
          milkshakes
        </h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          class="products__btn js-open-modal"
          type="button"
          data-modal="2"
        >
          <svg class="products__icon" width="40" height="40">
            <use
              class="products__icon--arrow"
              href="./images/sprite.svg#icon-arrow"
            ></use>
            <use
              class="products__icon--hover"
              href="./images/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="products__icon--focus"
              href="./images/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
