<section class="products section">
  <div class="container">
    <p class="products__upper-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <div class="products__ice-cream">
        <li class="products__item">
          <img
            class="products__img"
            src="./images/products/img_1.png"
            alt="#"
          />
          <span class="products__img--bg"></span>
          <h3 class="products__under-title">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="products__btn">
            <svg class="products__icon" width="40" height="40">
              <use
                class="products__icon--arrow"
                href="./images/sprite.svg#icon-arrow"
              ></use>
              <use
                class="products__icon--hover"
                href="./images/sprite.svg#icon-arrow-hover"
              ></use>
              <use
                class="products__icon--focus"
                href="./images/sprite.svg#icon-arrow-focus"
              ></use>
            </svg>
          </button>
        </li>
      </div>
      <li class="products__item products__ice-coffee">
        <img class="products__img" src="./images/products/img_2.png" alt="#" />

        <h3 class="products__under-title">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="products__btn" type="button">
          <svg class="products__icon" width="40" height="40">
            <use
              class="products__icon--arrow"
              href="./images/sprite.svg#icon-arrow"
            ></use>
            <use
              class="products__icon--hover"
              href="./images/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="products__icon--focus"
              href="./images/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__milkshakes">
        <img class="products__img" src="./images/products/img_3.png" alt="#" />
        <h3 class="products__under-title">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="products__btn">
          <svg class="products__icon" width="40" height="40">
            <use
              class="products__icon--arrow"
              href="./images/sprite.svg#icon-arrow"
            ></use>
            <use
              class="products__icon--hover"
              href="./images/sprite.svg#icon-arrow-hover"
            ></use>
            <use
              class="products__icon--focus"
              href="./images/sprite.svg#icon-arrow-focus"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
