<section class="container" id="read-more">
    <!-- Read more modal -->
    <div class="overlay js-overlay-modal">
<div class="modal__div modal visually-hidden" data-modal="1">
    <!-- Button close -->
    <button type="button" class="modal-button">
        <!-- Svg -->
    <svg width="9px" height="9px" class="read-more__svg">
        <use href="./images/sprite.svg#crest"></use>
    </svg>
    </button>
    <!-- h2 -->
<h2 class="modal__h2">А що трапилось?</h2>
<!-- Video -->
<div class="read-more__video" data-src="https://www.youtube.com/embed/P8Fp9hjc7-k?controls=0">
<svg width="27px" height="27px" class="read-more--play_button">
<use href="./images/sprite.svg#play_button"></use>
</svg>
</div>
<!-- Text -->
<p class="modal__p">
    Вранці 8 жовтня на Кримському мосту вибухнула вантажівка.
    Обрушилися три прольоти на автомобільній частині мосту.
    Рух автомобілів та поїздів мостом закрито.
    Терміни відновлення мосту поки що не називаються.
</p>
</div>
</div>
</section>