<div class="modal__div modal" data-modal="3">
  <!-- Button close -->
  <button class="buy-now__btn js-modal-close" type="button">
    <svg class="buy-now__btn-icon">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="read-more__wrap">
    <h3 class="modal__h3">А що трапилось?</h3>

    <iframe
      class="iframe"
      src="https://www.youtube.com/embed/P8Fp9hjc7-k"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <p class="modal__p">
      Вранці 8 жовтня на Кримському мосту вибухнула вантажівка. Обрушилися три
      прольоти на автомобільній частині мосту. Рух автомобілів та поїздів мостом
      закрито. Терміни відновлення мосту поки що не називаються.
    </p>
  </div>
</div>

<div class="backdrop js-overlay-modal"></div>
