.products-modal__modal {
  padding: 28px 20px;
  min-width: 280px;
  max-width: 450px;

  background: var(--primary-text-color);
  border-radius: 10px;
  border: 2px solid var(--yellow-color);

  @media screen and (max-height: 995px) {
    overflow: scroll;
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 40px;
  }
}

.products-modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.products-modal__btn-icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  fill: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
.products-modal__title {
  display: block;
  text-align: center;
  max-width: 142px;
  max-height: 56px;

  margin-left: auto;
  margin-right: auto;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: var(--secondary-text-color);

  margin-bottom: 22px;

  @media screen and (min-width: 768px) {
    max-width: none;
    max-height: none;
    margin-bottom: 24px;
  }
}


.products-modal__image {
  position: relative;

  &::after {
    content: '';
    width: 133px;
    height: 130px;
    border-radius: 50%;
    display: inline-block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    z-index: -1;

    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}

.products-modal__img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
}
.products-modal__box {
  margin-bottom: 39px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}
.products-modal__list {
  display: flex;
  gap: 10px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}
.products-modal__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  width: 53px;
  height: 72px;
  text-align: center;
  z-index: 20;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
}
.products-modal__text-numbers {
  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 3px;

  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(28 / 12);
    margin-bottom: 19px;
  }

  &::after {
    content: '';
    display: block;

    position: absolute;
    top: -1.5px;
    left: 2.7px;

    width: 43px;
    height: 43px;
    border-radius: 40px;
    background: var(--form-color);
    border: 2px solid var(--form-color);
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    z-index: -1;

    @media screen and (min-width: 768px) {
      left: 4;
      width: 53px;
      height: 53px;
    }
  }
}
.products-modal__text {
  font-size: 10px;
  line-height: calc(12 / 10);
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}
.products-modal__title-ingredients {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);

  display: block;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 24px;
}
.products-modal__ingredients-box {
  margin-bottom: 48px;
}

.products-modal__ingredients-item {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(25 / 14);
  color: var(--secondary-text-color);

  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 11px;
  }
}

.field-products {
  margin-bottom: 0;
}