// Read-more
// Modal
.modal__div {
    background: var(--primary-text-color);
    border: 2px solid var(--yellow-color);
    border-radius: 10px;
    width: 280px;
    padding: 28px;

    @media  (min-width: 768px) {
        width: 568px;
        padding: 32px 60px;
    }
}


    // h3 text
.modal__h3{
    font-family: 'Seymour One';
    @include font-pars($weight: 400, $size: 16px, $lh: 24px);
    text-align: center;
    color: var(--secondary-text-color);

    @media  (min-width: 768px) {
        @include font-pars($weight: 400, $size: 20px, $lh: 28px);
    }

}


#franchise .modal__h3 {
    @media  (min-width: 768px) {
    padding-left: 150px;
    padding-right: 150px;
    }}
    
    // video


.read-more__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media  (min-width: 768px) {
        gap: 32px;
    }
}
    
  
    
    // iframe

.iframe {
    width: 224px;
    height: 199px;
    border-radius: 10px;

    @media  (min-width: 768px) {
        width: 448px;
        height: 205px;
    }
}

    
    // text
.modal__p {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--secondary-text-color);
    }