//для превью, удалить потом
.before {
    height: 100px;
    background-color: aqua ;
}

.gallery {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media screen and (min-width:320px) and (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        padding-left: 93px;
        padding-right: 93px;
    }
}

// блок галерея

.gallery__box {

    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position: absolute;
    top: 0;

    position: relative;
    background-color: transparent;
    
    @media screen and (min-width:320px) and (max-width: 767px) {
    width: 87%;
    height: 38vw;
    min-height: 130px;
    border-radius: 7.4px;
    
    transform: translateY(-16.2%);

}

    @media screen and (min-width: 768px) {
        width: 704px;
        height: 327px;
        border-radius: 18px;
        
        transform: translateY(-50%);
    }

    @media screen and (min-width: 1200px) {
        width: 1013px;
        height: 422px;
        border-radius: 24px;
        
        transform: translateY(-22.2%);
    }
}

 @keyframes galleryAnimation {
    0% {opacity: 0;}
    12% {opacity: 1;}
    35% {opacity: 1;}
    45% {opacity: 0;}
    100% {opacity: 0;}
 }

.gallery__img {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    animation-name: galleryAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    object-fit: cover;
}

.gallery__img:nth-child(1) {
    animation-delay: 0s;
}

.gallery__img:nth-child(2) {
    animation-delay: 4s;
}

.gallery__img:nth-child(3) {
    animation-delay: 7s;
    
    
}